.appWrapper {

    display: grid;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 40px 1fr;
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;
  
    width: 960px;

    margin: 0 auto;
    min-height: 50vh;
    padding-top: 10px;

}

.appWrapperContent {
    
    grid-area: c;
    /* border-radius: 3px; */
  
  }